@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
  .game-container {
    display: none;
  }
  .desktop-message {
    display: block;
  }
}

@media (max-width: 767px) {
  .desktop-message {
    display: none;
  }
}

